@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}
.container{
  display: flex;
  justify-content: space-between;
  height: 94.6vh;
  /* background-color: lemonchiffon; */
}
@media (max-width: 750px) {
  .container{
   justify-content: center;
  }
}